@{
    ViewBag.Title = "Files";
}

@{
    var UserFiles = (List<UserFiles>)ViewData["UserFiles"];
}
<h1>Buffered File Upload</h1>

<hr />

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" /> 
    <button type="submit">Upload File</button>
</form>
 
@if(ViewBag.Message != null)
{
    <div class="alert" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
<br />
<br />
<div>
    <table class="table-condensed table-bordered">
        <tr>
            <th align="center">
                File Name
            </th>
            <th align="center">
                Download File
            </th>
        </tr>
        @if(@UserFiles != null)
        {
            @foreach (var file in UserFiles)
            {
                <tr>
                    <td align="center">
                        @file.FileName
                    </td>
                    <td align="center">
                        <a class="btn btn-default" 
                            href="./BufferedFileUpload/linkDownloadFile_onclick?fileid=@file.FileId"
                            target="_blank">
                            <b>Download</b>
                        </a>
                    </td>
                </tr>
            }
        }
        
    </table>
</div>

<div id="chatbox"></div>

@section Scripts {
    <script>
        $('#chatbox').load("/Chat/ChatRoom")
    </script>
}