@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="chatbox transform" id="chatbox">
    <input type="button" value="x" id="closeButton" style="display:none;">

    <!--<img src="@Url.Content("~/Images/speechBubble.png")" id="speechBubbleImage" />-->
    <img src="~/Images/speechBubble.png" id="speechBubbleImage" />

    <input type="text" id="messageBox" name="messageBox" style="display:none; margin-top:150%; width:80%;">
    <input type="button" value="Send" id="sendButton" style="display:none; float:right; margin-top:-10.75%;">
</div>