@{
    ViewData["Title"] = "Home Page";
}

<style>

 .column {
  float: left;
  width: 50%;
  padding: 10px;
 }


.button-1 {
  background-color: blue; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}


.text-block-2 {
  display: inline-block;
  margin-left: 4px;
  padding-right: 4px;
  padding-left: 11px;
}

.columns {
  margin-left: 0px;
}

.paragraph {
  display: inline-block;
  max-width: 25px;
}

.paragraph-2 {
  display: block;
  max-width: 500px;
  margin-top: 20px;
}


</style>

<body>

<div class="row">
  <div class="column">

     <h1>Find the university that fits you the best.</h1>
      <div class="text-block-3">Get matched with universities that fit you the best based on your interests, preferences, test scores, and financial situation. </div>
      <a href="#" class="button-1">Try us for free</a>
      <div class="text-block-2">or</div>
      <div class="text-block-2">Take the tour</div>
      <p class="paragraph-2">COT question: 1-800-381-7241 or email at nobody@gmail.com</p>
  </div>

  <div class="column">
    <img src= "BoJo/Image/graduation.jpg" alt="Picture is not loaded properly"> 

  </div>
</div>

</body>

<div id="chatbox"></div>
@if (Context.Session.GetInt32("userid") != null)
{
    @section Scripts {
    <script>
        $('#chatbox').load("/Chat/ChatRoom")
    </script>
    }
}